<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.commerce.mall.mapper.TmsFoodMapper">
  <resultMap id="BaseResultMap" type="com.commerce.mall.model.TmsFood">
    <id column="food_id" jdbcType="INTEGER" property="foodId" />
    <result column="food_name" jdbcType="VARCHAR" property="foodName" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="discount" jdbcType="DECIMAL" property="discount" />
    <result column="main_materials" jdbcType="VARCHAR" property="mainMaterials" />
    <result column="has_meat" jdbcType="VARCHAR" property="hasMeat" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
    <result column="packing_fee" jdbcType="DOUBLE" property="packingFee" />
    <result column="seller_id" jdbcType="INTEGER" property="sellerId" />
    <result column="is_off" jdbcType="VARCHAR" property="isOff" />
    <result column="is_delete" jdbcType="VARCHAR" property="isDelete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    food_id, food_name, price, discount, main_materials, has_meat, weight, intro, packing_fee, 
    seller_id, is_off, is_delete
  </sql>
  <select id="selectByExample" parameterType="com.commerce.mall.model.TmsFoodExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tms_food
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tms_food
    where food_id = #{foodId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tms_food
    where food_id = #{foodId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.commerce.mall.model.TmsFoodExample">
    delete from tms_food
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.commerce.mall.model.TmsFood">
    <selectKey keyProperty="foodId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tms_food (food_name, price, discount, 
      main_materials, has_meat, weight, 
      intro, packing_fee, seller_id, 
      is_off, is_delete)
    values (#{foodName,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{discount,jdbcType=DECIMAL}, 
      #{mainMaterials,jdbcType=VARCHAR}, #{hasMeat,jdbcType=VARCHAR}, #{weight,jdbcType=DOUBLE}, 
      #{intro,jdbcType=VARCHAR}, #{packingFee,jdbcType=DOUBLE}, #{sellerId,jdbcType=INTEGER}, 
      #{isOff,jdbcType=VARCHAR}, #{isDelete,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.commerce.mall.model.TmsFood">
    <selectKey keyProperty="foodId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tms_food
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="foodName != null">
        food_name,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="mainMaterials != null">
        main_materials,
      </if>
      <if test="hasMeat != null">
        has_meat,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="intro != null">
        intro,
      </if>
      <if test="packingFee != null">
        packing_fee,
      </if>
      <if test="sellerId != null">
        seller_id,
      </if>
      <if test="isOff != null">
        is_off,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="foodName != null">
        #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=DECIMAL},
      </if>
      <if test="mainMaterials != null">
        #{mainMaterials,jdbcType=VARCHAR},
      </if>
      <if test="hasMeat != null">
        #{hasMeat,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="intro != null">
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="packingFee != null">
        #{packingFee,jdbcType=DOUBLE},
      </if>
      <if test="sellerId != null">
        #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="isOff != null">
        #{isOff,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.commerce.mall.model.TmsFoodExample" resultType="java.lang.Long">
    select count(*) from tms_food
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tms_food
    <set>
      <if test="record.foodId != null">
        food_id = #{record.foodId,jdbcType=INTEGER},
      </if>
      <if test="record.foodName != null">
        food_name = #{record.foodName,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.discount != null">
        discount = #{record.discount,jdbcType=DECIMAL},
      </if>
      <if test="record.mainMaterials != null">
        main_materials = #{record.mainMaterials,jdbcType=VARCHAR},
      </if>
      <if test="record.hasMeat != null">
        has_meat = #{record.hasMeat,jdbcType=VARCHAR},
      </if>
      <if test="record.weight != null">
        weight = #{record.weight,jdbcType=DOUBLE},
      </if>
      <if test="record.intro != null">
        intro = #{record.intro,jdbcType=VARCHAR},
      </if>
      <if test="record.packingFee != null">
        packing_fee = #{record.packingFee,jdbcType=DOUBLE},
      </if>
      <if test="record.sellerId != null">
        seller_id = #{record.sellerId,jdbcType=INTEGER},
      </if>
      <if test="record.isOff != null">
        is_off = #{record.isOff,jdbcType=VARCHAR},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tms_food
    set food_id = #{record.foodId,jdbcType=INTEGER},
      food_name = #{record.foodName,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      discount = #{record.discount,jdbcType=DECIMAL},
      main_materials = #{record.mainMaterials,jdbcType=VARCHAR},
      has_meat = #{record.hasMeat,jdbcType=VARCHAR},
      weight = #{record.weight,jdbcType=DOUBLE},
      intro = #{record.intro,jdbcType=VARCHAR},
      packing_fee = #{record.packingFee,jdbcType=DOUBLE},
      seller_id = #{record.sellerId,jdbcType=INTEGER},
      is_off = #{record.isOff,jdbcType=VARCHAR},
      is_delete = #{record.isDelete,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.commerce.mall.model.TmsFood">
    update tms_food
    <set>
      <if test="foodName != null">
        food_name = #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=DECIMAL},
      </if>
      <if test="mainMaterials != null">
        main_materials = #{mainMaterials,jdbcType=VARCHAR},
      </if>
      <if test="hasMeat != null">
        has_meat = #{hasMeat,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="intro != null">
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="packingFee != null">
        packing_fee = #{packingFee,jdbcType=DOUBLE},
      </if>
      <if test="sellerId != null">
        seller_id = #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="isOff != null">
        is_off = #{isOff,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=VARCHAR},
      </if>
    </set>
    where food_id = #{foodId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.commerce.mall.model.TmsFood">
    update tms_food
    set food_name = #{foodName,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      discount = #{discount,jdbcType=DECIMAL},
      main_materials = #{mainMaterials,jdbcType=VARCHAR},
      has_meat = #{hasMeat,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=DOUBLE},
      intro = #{intro,jdbcType=VARCHAR},
      packing_fee = #{packingFee,jdbcType=DOUBLE},
      seller_id = #{sellerId,jdbcType=INTEGER},
      is_off = #{isOff,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=VARCHAR}
    where food_id = #{foodId,jdbcType=INTEGER}
  </update>
</mapper>