<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.commerce.mall.mapper.TmsFoodMapper">
  <resultMap id="BaseResultMap" type="com.commerce.mall.model.TmsFood">
    <id column="food_id" jdbcType="INTEGER" property="foodId" />
    <result column="food_name" jdbcType="VARCHAR" property="foodName" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="main_materials" jdbcType="VARCHAR" property="mainMaterials" />
    <result column="has_meat" jdbcType="VARCHAR" property="hasMeat" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="seller_id" jdbcType="INTEGER" property="sellerId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    food_id, food_name, price, main_materials, has_meat, weight, seller_id
  </sql>
  <select id="selectByExample" parameterType="com.commerce.mall.model.TmsFoodExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tms_food
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tms_food
    where food_id = #{foodId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tms_food
    where food_id = #{foodId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.commerce.mall.model.TmsFoodExample">
    delete from tms_food
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.commerce.mall.model.TmsFood">
    insert into tms_food (food_id, food_name, price, 
      main_materials, has_meat, weight, 
      seller_id)
    values (#{foodId,jdbcType=INTEGER}, #{foodName,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{mainMaterials,jdbcType=VARCHAR}, #{hasMeat,jdbcType=VARCHAR}, #{weight,jdbcType=DOUBLE}, 
      #{sellerId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.commerce.mall.model.TmsFood">
    insert into tms_food
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="foodId != null">
        food_id,
      </if>
      <if test="foodName != null">
        food_name,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="mainMaterials != null">
        main_materials,
      </if>
      <if test="hasMeat != null">
        has_meat,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="sellerId != null">
        seller_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="foodId != null">
        #{foodId,jdbcType=INTEGER},
      </if>
      <if test="foodName != null">
        #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="mainMaterials != null">
        #{mainMaterials,jdbcType=VARCHAR},
      </if>
      <if test="hasMeat != null">
        #{hasMeat,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="sellerId != null">
        #{sellerId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.commerce.mall.model.TmsFoodExample" resultType="java.lang.Long">
    select count(*) from tms_food
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tms_food
    <set>
      <if test="record.foodId != null">
        food_id = #{record.foodId,jdbcType=INTEGER},
      </if>
      <if test="record.foodName != null">
        food_name = #{record.foodName,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.mainMaterials != null">
        main_materials = #{record.mainMaterials,jdbcType=VARCHAR},
      </if>
      <if test="record.hasMeat != null">
        has_meat = #{record.hasMeat,jdbcType=VARCHAR},
      </if>
      <if test="record.weight != null">
        weight = #{record.weight,jdbcType=DOUBLE},
      </if>
      <if test="record.sellerId != null">
        seller_id = #{record.sellerId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tms_food
    set food_id = #{record.foodId,jdbcType=INTEGER},
      food_name = #{record.foodName,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      main_materials = #{record.mainMaterials,jdbcType=VARCHAR},
      has_meat = #{record.hasMeat,jdbcType=VARCHAR},
      weight = #{record.weight,jdbcType=DOUBLE},
      seller_id = #{record.sellerId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.commerce.mall.model.TmsFood">
    update tms_food
    <set>
      <if test="foodName != null">
        food_name = #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="mainMaterials != null">
        main_materials = #{mainMaterials,jdbcType=VARCHAR},
      </if>
      <if test="hasMeat != null">
        has_meat = #{hasMeat,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="sellerId != null">
        seller_id = #{sellerId,jdbcType=INTEGER},
      </if>
    </set>
    where food_id = #{foodId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.commerce.mall.model.TmsFood">
    update tms_food
    set food_name = #{foodName,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      main_materials = #{mainMaterials,jdbcType=VARCHAR},
      has_meat = #{hasMeat,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=DOUBLE},
      seller_id = #{sellerId,jdbcType=INTEGER}
    where food_id = #{foodId,jdbcType=INTEGER}
  </update>
</mapper>